@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    
    background-color: #f0faf8;
    
}

*{
	padding:0px;
	margin:0px;
}
.outer{
	height:100vh;
	width:100vw;
}
.inner{
    background: #008080;
    color: white;
    border : 2px solid ;
    border-radius:10px;
}
div > nav{
	
	height:80px;
	display :flex;
	justify-content : space-around;
	align-items : center;
	padding : 10px;	
}

div> nav>.links ul{
	display : flex;
	gap:60px;
	list-style-type: none;
    margin: 0;
   padding: 10px;
}
 
 div> nav>.links>ul>li > a{
    color:white;
 }
 
/* Center the form card inside the viewport */
.form {
	margin: 100px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:50px;    
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    height:500px;
}
.form-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: #006c67;
}

/* Form elements spacing */
.form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.form input {
    width: 80%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    transition: border-color 0.3s;
}

.form input:focus {
    border-color: #007bff;
    outline: none;
}


.btn{
	display:flex;
	justify-content:center;
	align-items:center;
}

/* Button styling */
.form button {
    width: 50%;
    padding: 12px;
    background-color: #4db6ac; 
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #006c67;
}