<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta name="google-site-verification" content="Psz6QeBi3IrFGk_eFavtIDdQ_lnbJud_Rzjk0VwgqNw" />
</head>
<body>
<div class="outer">
   <div class = "inner">
       <nav>
            
            <h1>Student Management System</h1>
            	<div class="links">
            	<ul>
                	<li> <a href="/add-student">Add Student</a></li>
                	<li> <a href="/view-students">View Student</a></li>
                	<li> <a href="/update-student">update Student</a></li>
            	</ul>
       			</div>
       </nav>
   </div>
    <div class="welcome">
    
       <h2>Welcome to the Student Management System</h2>
       <p>Manage student details easily -Add, view and update student information at one place. </p>

    </div>
</div>
  
  <script th:src="@{/js/script.js}"></script>
</body>
</html>
